.badge {
  background-color: white;
  color: black;
  font-weight: 700;
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  width: fit-content;
  margin: 10px;
}

.badge[data-color="green"] {
  background-color: var(--color-green-bg);
  color: var(--color-green-text);
}

.badge[data-color="red"] {
  background-color: var(--color-red-bg);
  color: var(--color-red-text);
}

.badge[data-color="blue"] {
  background-color: var(--color-blue-bg);
  color: var(--color-blue-text);
}

.badge[data-color="yellow"] {
  background-color: var(--color-yellow-bg);
  color: var(--color-yellow-text);
}

.badge[data-color="indigo"] {
  background-color: var(--color-indigo-bg);
  color: var(--color-indigo-text);
}

.badge[data-color="purple"] {
  background-color: var(--color-purple-bg);
  color: var(--color-purple-text);
}

.square {
  border-radius: 6px;
}

.pill {
  border-radius: 40px;
}
