* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Green Theme */
  --color-green-bg: #d1fae5;
  --color-green-text: #065f46;

  /* Red Theme */
  --color-red-bg: #fee2e2;
  --color-red-text: #991b1b;

  /* Blue Theme */
  --color-blue-bg: #dbeafe;
  --color-blue-text: #1e40af;

  /* yellow theme */
  --color-yellow-bg: #fef3c7;
  --color-yellow-text: #92400e;

  /* indigo theme */
  --color-indigo-bg: #e0e7ff;
  --color-indigo-text: #3730a3;

  /* purple theme */
  --color-purple-bg: #ede9fe;
  --color-purple-text: #5b21b6;
}
